*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body,html{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1em;
    font-size: 18px;
    /*background: linear-gradient(180deg, #c9ada7 0%, #9a8c98 50%, #4a4e69 100%);*/
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background: #bda39d;

}

.header:hover{
    background: #5a5f81;
}

.header img{
    height: 70px;
    width: 100px;
    border-radius: 5px;
    opacity: 0.5;
}

#burger{
    display: none  ;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 30px;
    margin: 20px;

}
#burger .menu{
    height: 6px;
    width: 100%;
    background-color: #4a4e69;
    border-radius: 10px;
}

.header:hover #burger .menu{
    background: #C9ADA7;
}
.nav{
    width: calc(100% - 70px);
}

.nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.nav ul li {
    list-style: none;
    padding: 25px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.nav ul li:hover {
    background:#9a8c98;
}


.nav ul li a{
    color: #4a4e69;
    text-decoration: none;
}

.header:hover ul li a{
    color: #C9ADA7;
}
.nav ul li:hover a{
    color: #4a4e69;
}

.main{
    display: flex;
    flex-direction: column;
}
.accueil{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
    width: 100%;
    background: #C9ADA7;
}

.accueil img{
    width: 35%;
    height: 70%;
    border-radius: 50px;
    background: #C9ADA7;
    box-shadow:  -30px -30px 60px #ab938e, 30px 30px 60px #e7c7c0;
    transition: all 0.5s ease-in-out;
}

.accueil img:hover{
    box-shadow:  -8px -8px 20px #ab938e, 8px 8px 20px #e7c7c0;
}

.apropos{
    width: 100%;
    height: 100vh;
    background: #4a4e69 /*#C9ADA7 #9a8C98;*/;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color:   #c9ada7 ;
}

.apropos h3{
    padding: 3%;
    margin: 2%;
}

.text{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    height: auto;
    padding: 5%;
    font-weight: lighter;
    border-radius: 15px;
    box-shadow: inset 10px 10px 20px #393c51, inset -10px -10px 20px #5b6081;
}

.text:hover{
    box-shadow: inset -5px -5px 10px #393c51, inset 5px 5px 10px #5b6081;
}

.realisations{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    width: 100%;
    background: #9a8C98;
    justify-content: center;
    align-items: center;
    color:   #4a4e69;
    text-shadow: 1px 1px 1px #949799;
}

.realisations h3{
    padding: 1% 0 2% 0;
}

.articles{
    display: grid;
    grid-template:repeat(2,1fr) / repeat(12, 1fr);
    width: 90%;
    height: 80%;
    text-align: center;
    justify-content: space-around;
    
}

article{
    border-radius: 10%;
    background: #9a8C98;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    height: 70%;
    box-shadow: inset 7px 7px 13px #776c75, inset -7px -7px 13px #bdacbb;
    border-radius: 10px;
}

article:hover{
    box-shadow: inset -3px -3px 8px #776c75, inset 3px 3px 8px #bdacbb;
}   

.article1, .article2, .article3, .article4, .article5, .article6{
    display: flex;
    justify-content: center;
    align-items: center;
}

.article1{
    grid-area: 1 / 1 / 2 / 5;
}

.article2{
    grid-area: 1 / 5 / 2 / 9;
}

.article3{
    grid-area: 1 / 9 / 2 / 13;
}

.article4{
    grid-area: 2 / 1 / 3 / 5;
}

.article5{
    grid-area: 2 / 5 / 3 / 9;
}

.article6{
    grid-area: 2 / 9 / 3 / 13;
}

.articles img{
    width: 80%;
    height: auto;
    padding: 5%;
    border-radius: 10px;
}

.competences{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    width: 100%;
    background: #a38983;
    justify-content: center;
    align-items: center;
    color:   #4a4e69;
    text-shadow: 1px 1px 1px #949799;
}
    
.competences h3{
        padding: 1% 0 2% 0;
}

.competence{
    border: 2px solid red;
}

.contact{
    background-color: #e0e3ee;
    color:   #aeb2be;
    text-shadow: 1px 1px 1px #f1f1f1;
    height: auto;
    width: 100%;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

.contact h3{
    padding: 2% 0 5% 0;
}

.form{
    width: 60%;
    height: auto;
    text-align: center;
    padding: 3% 10%;
    border-radius: 3%;
    font-size: 15px;
    background:#e0e3ee;
    box-shadow: -12px -12px 30px #bec1ca, 12px 12px 30px #f1f1f1;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form:hover {
    box-shadow: -8px -8px 20px#f1f1f1, 8px 8px 20px  #bec1ca;
}

label{
    text-align: left;
    margin: 3% 0 3% 2%;
}

sup{
    color: rgb(247, 46, 46);
}

input, textarea{
    box-shadow:  inset 5px 5px 10px #bec1ca, inset -5px -5px 10px #f1f1f1; 
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    padding: 25px;
    background:#e0e3ee;
    color: rgb(117, 112, 112);
    text-shadow: 1px 1px 0 #fff;
    border-radius: 30px;
    outline: none;
}

input:focus, textarea:focus{
    box-shadow:  inset 2px 2px 5px #f1f1f1, inset -2px -2px 5px #bec1ca;
}

button {
    background:#e0e3ee;
    color:   #b0b5ca;
    font-weight: bold;
    box-shadow: -5px -5px 15px #f1f1f1,  5px 5px 15px #bec1ca;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    width: 40%;
    margin:5% 0 0 25%;
    padding: 3%;
    border-radius: 15px;
    outline: none;
}

button:hover {
    box-shadow: -2px -2px 5px #bec1ca, 2px 2px 5px #f1f1f1;
    color:   #a7acc0;
}

button:active{
    box-shadow: inset 2px 2px 5px #bec1ca, inset -2px -2px 5px #f1f1f1;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2%;
    width: 100%;
    height: 80px;
    background: #22223b;
    align-items: center;
    color: #c9ada7;
}

.footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.footer ul{
    width: 55%;
}

.footer ul:first-child{
    width: 10%;
}

.footer i, .footer .cv{
    color: #c9ada7;
    text-decoration: none;
}

#link, #git, #chevron{
    font-size: 1.5em;
    padding: 10px;
    border-radius: 7px;
    box-shadow: -5px -5px 15px #1a1a2d, 5px 5px 15px #2a2a49;
}

#chevron{
    font-size: 1.2em;
}

.footer ul:nth-child(2n+0) li:nth-child(1n+0), .footer .cv{
    font-size: 0.8em;
    padding: 12px;
    border-radius: 7px;
    box-shadow: -5px -5px 15px #1a1a2d, 5px 5px 15px #2a2a49;
}

#link:hover, #git:hover, #chevron:hover, .footer .cv:hover, .footer ul:nth-child(2n+0) li:nth-child(1n+0):hover{
    box-shadow: -3px -3px 7px #2a2a49, 3px 3px 7px #1a1a2d;
}

#link:active, #git:active, #chevron:active, .footer .cv:active{
    box-shadow:  inset 2px 2px 5px #2a2a49, inset -2px -2px 5px #1a1a2d;
}

/*#git:hover{
    background: black;
}

#link:hover{
    background: #085caf;
}*/







@media  screen and (max-width: 1000px){
    .nav{
       display: none;
    }
    #burger{
       display: flex;
    }
    #nav{
    flex-direction: column;
    align-items: center;
    }
    #nav ul{
        flex-direction: column; 
        width: 100%;
    }
    #nav ul li{
        width: 100%;
        text-align: center;
    }
    #nav ul li a{
        padding: 5px;
        width: 100%;
    }
    #nav.active{
        display: flex ;
    }
}