*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body,html{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1em;
    font-size: 18px;
    /*background: linear-gradient(180deg, #c9ada7 0%, #9a8c98 50%, #4a4e69 100%);*/
}

.header{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background: #bda39d;
    transition: all 0.7s ease-in-out;
}

.header:hover{
    background: #5a5f81;
}

.header img{
    height: 70px;
    width: 100px;
    border-radius: 5px;
    opacity: 0.5;
}

#burger{
    display: none  ;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 30px;
    margin: 20px;
    position: absolute;
    top: 4;
    left: 85%
}
#burger .menu{
    height: 6px;
    width: 100%;
    background-color: #4a4e69;
    border-radius: 10px;
}

.header:hover #burger .menu{
    background: #C9ADA7;
}
.nav{
    width: 100%;
}

.nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.nav ul li {
    list-style: none;
    padding: 25px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.nav ul li:hover {
    background:#9a8c98;
}


.nav ul li a{
    color: #4a4e69;
    text-decoration: none;
}

.header:hover ul li a{
    color: #C9ADA7;
}
.nav ul li:hover a{
    color: #4a4e69;
}

.main{
    display: flex;
    flex-direction: column;
}
.accueil{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
    width: 100%;
    background: #C9ADA7;
    margin-top: 70px;
}

.accueil img{
    width: 35%;
    height: 70%;
    border-radius: 50px;
    background: #C9ADA7;
    box-shadow:  -30px -30px 60px #ab938e, 30px 30px 60px #e7c7c0;
    transition: all 0.7s ease-in-out;
}

.accueil img:hover{
    box-shadow:  -8px -8px 20px #ab938e, 8px 8px 20px #e7c7c0;
}

.apropos{
    width: 100%;
    height: calc(100vh - 70px);
    background: #4a4e69 /*#C9ADA7 #9a8C98;*/;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #c9ada7 ;
}

.apropos h3{
    padding: 3% 0 5% 0;
    
}

.text{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    height: auto;
    padding: 5%;
    font-weight: lighter;
    border-radius: 15px;
    box-shadow: inset 10px 10px 20px #393c51, inset -10px -10px 20px #5b6081;
}

.text:hover{
    box-shadow: inset -5px -5px 10px #393c51, inset 5px 5px 10px #5b6081;
}

.realisations{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: calc(100vh - 70px);
    width: 100%;
    background: #9a8C98;
    justify-content: center;
    align-items: center;
    color: #4a4e69;
    text-shadow: 1px 1px 1px #949799;
}
.realisations h3{
    padding: 1% 0 2% 0;
}
.articles{
    display: grid;
    grid-template:repeat(2,1fr) / repeat(12, 1fr);
    width: 90%;
    height: 80%;
    text-align: center;
    justify-content: space-around;
}
.articles div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.articles article{
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;
    height: 70%;
    border-radius: 10px;
    box-shadow: inset 7px 7px 13px #776c75, inset -7px -7px 13px #bdacbb;
}
.articles article:hover{
    box-shadow: inset -3px -3px 8px #776c75, inset 3px 3px 8px #bdacbb;
}   
.articles img{
    width: 70%;
    height: 60%;
    border-radius: 4%;
    margin: 5%;
}
.articles a{
    color: #4a4e69;
    text-decoration: none;
}
.article1{
    grid-area: 1 / 1 / 2 / 5;
}
.article2{
    grid-area: 1 / 5 / 2 / 9;
}
.article3{
    grid-area: 1 / 9 / 2 / 13;
}
.article4{
    grid-area: 2 / 1 / 3 / 5;
}
.article5{
    grid-area: 2 / 5 / 3 / 9;
}
.article6{
    grid-area: 2 / 9 / 3 / 13;
}

.competences{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    width: 100%;
    background: #a38983;
    justify-content: center;
    align-items: center;
    color:   #4a4e69;
    text-shadow: 1px 1px 1px #949799;
}
.competences h3{
    padding: 4% 0 0 0;
}
.competences h4{
    padding: 3%;
    margin: 10% 0 ;
    border-radius: 30px;
    box-shadow: -5px -5px 15px #8b746f, 5px 5px 15px #bb9e97;
}
.competences h4:hover{
    box-shadow: 3px 3px 6px #8b746f, -3px -3px 6px #bb9e97;
}
.langages-framework, .outils-logiciels{
    display: grid;
    grid-template:repeat(00px 3,1fr) / repeat(12, 1fr);
    width: 90%;
    height: 80%;
    text-align: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5%;
}
.langages-framework div, .outils-logiciels div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.langages-framework article, .outils-logiciels article{
    width: 70%;
    height: 70%;
    border-radius: 10px;
    box-shadow: inset 8px 8px 15px #8b746f, inset -8px -8px 15px #bb9e97;
}
.langages-framework:hover, .langages-framework article:hover, .outils-logiciels:hover, .outils-logiciels article:hover{
    box-shadow: inset -3px -3px 8px #8b746f, inset 3px 3px 8px #bb9e97;
}     
.competences img{
    width: 60%;
    height: 50%;
    background: #fff;
    border-radius: 65%;
    margin: 5%;
    box-shadow: inset -3px -3px 8px #8b746f, inset 3px 3px 8px #bb9e97;
}
/*.outils-logiciels img{
    width: 95%;
    height: 95%;
    border-radius: 10px;
    margin: 0;
}*/
.langages-framework h4{
    grid-area: 1 / 4 / 2 / 10;
}
.competence1{
    grid-area: 2 / 1 / 3 / 5;
}
.competence2{
    grid-area: 2 / 5 / 3 / 9;
}
.competence3{
    grid-area: 2 / 9 / 3 / 13;
}
.competence4{
    grid-area: 3 / 1 / 4 / 5;
}
.competence5{
    grid-area: 3 / 5 / 4 / 9;
}
.competence6{
    grid-area: 3 / 9 / 4 / 13;
}
.competence7{
    grid-area: 4 / 1 / 5 / 5;
}
.competence8{
    grid-area: 4 / 5 / 5 / 9;
}
.competence9{
    grid-area: 4 / 9 / 5 / 13;
}
.outils-logiciels h4{
    grid-area: 1 / 4 / 2 / 10;
}
.competences1{
    grid-area: 2 / 1 / 3 / 4;
}
.competences2{
    grid-area: 2 / 4 / 3 / 7;
}
.competences3{
    grid-area: 2 / 7 / 3 / 10;
}
.competences4{
    grid-area: 2 / 10 / 3 / 13;
}
.competences5{
    grid-area: 3 / 1 / 4 / 4;
}
.competences6{
    grid-area: 3 / 4 / 4 / 7;
}
.competences7{
    grid-area: 3 / 7 / 4 / 10;
}
.competences8{
    grid-area: 3 / 10 / 4 / 13;
}
.competences9{
    grid-area: 4 / 2 / 5 / 5;
}
.competences10{
    grid-area: 4 / 5 / 5 / 8;
}
.competences11{
    grid-area: 4 / 8 / 5 / 11;
}


.contact{
    background-color: #e0e3ee;
    color:   #aeb2be;
    text-shadow: 1px 1px 1px #f1f1f1;
    height: auto;
    width: 100%;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

.contact h3{
    padding: 2% 0 5% 0;
}

.form{
    transition: all 0.7s ease-in-out;
    width: 60%;
    height: auto;
    text-align: center;
    padding: 3% 10%;
    border-radius: 3%;
    font-size: 15px;
    background:#e0e3ee;
    box-shadow: -12px -12px 30px #bec1ca, 12px 12px 30px #f1f1f1;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form:hover {
    box-shadow: -8px -8px 20px#f1f1f1, 8px 8px 20px  #bec1ca;
}

label{
    text-align: left;
    margin: 3% 0 3% 2%;
}

sup{
    color: rgb(247, 46, 46);
}

input, textarea{
    box-shadow:  inset 5px 5px 10px #bec1ca, inset -5px -5px 10px #f1f1f1; 
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    padding: 25px;
    background:#e0e3ee;
    color: rgb(117, 112, 112);
    text-shadow: 1px 1px 0 #fff;
    border-radius: 30px;
    outline: none;
}

input:focus, textarea:focus{
    box-shadow:  inset 2px 2px 5px #f1f1f1, inset -2px -2px 5px #bec1ca;
}

button {
    background:#e0e3ee;
    color:   #b0b5ca;
    font-weight: bold;
    box-shadow: -5px -5px 15px #f1f1f1,  5px 5px 15px #bec1ca;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    width: 40%;
    margin:5% 0 0 25%;
    padding: 3%;
    border-radius: 15px;
    outline: none;
}

button:hover {
    box-shadow: -2px -2px 5px #bec1ca, 2px 2px 5px #f1f1f1;
    color:   #a7acc0;
}

button:active{
    box-shadow: inset 2px 2px 5px #bec1ca, inset -2px -2px 5px #f1f1f1;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2%;
    width: 100%;
    height: 80px;
    background: #22223b;
    align-items: center;
    color: #c9ada7;
}

.footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.footer ul{
    width: 55%;
}

.footer ul:first-child{
    width: 10%;
}

.footer i, .footer .cv{
    color: #c9ada7;
    text-decoration: none;
}

#link, #git, #chevron{
    font-size: 1.5em;
    padding: 10px;
    border-radius: 7px;
    box-shadow: -5px -5px 15px #1a1a2d, 5px 5px 15px #2a2a49;
}

#chevron{
    font-size: 1.2em;
}

.footer ul:nth-child(2n+0) li:nth-child(1n+0), .footer .cv{
    font-size: 0.8em;
    padding: 12px;
    border-radius: 7px;
    box-shadow: -5px -5px 15px #1a1a2d, 5px 5px 15px #2a2a49;
}

#link:hover, #git:hover, #chevron:hover, .footer .cv:hover, .footer ul:nth-child(2n+0) li:nth-child(1n+0):hover{
    box-shadow: -3px -3px 7px #2a2a49, 3px 3px 7px #1a1a2d;
}

#link:active, #git:active, #chevron:active, .footer .cv:active{
    box-shadow:  inset 2px 2px 5px #2a2a49, inset -2px -2px 5px #1a1a2d;
}

/*#git:hover{
    background: black;
}

#link:hover{
    background: #085caf;
}*/




@media  screen and (max-width: 1000px){
    .footer{
        height: 70px;
    }
    #link, #git{
        font-size: 1.1em;
        box-shadow: -4px -4px 12px #1a1a2d, 4px 4px 12px #2a2a49;
    }
    #chevron{
        font-size: 0.8em;
        box-shadow: -4px -4px 12px #1a1a2d, 4px 4px 12px #2a2a49;
    }
    .footer ul:nth-child(2n+0) li:nth-child(1n+0), .footer .cv{
        font-size: 0.6em;
        box-shadow: -4px -4px 12px #1a1a2d, 4px 4px 12px #2a2a49;
    }
    #link:hover, #git:hover, #chevron:hover, .footer .cv:hover, .footer ul:nth-child(2n+0) li:nth-child(1n+0):hover{
        box-shadow: -2px -2px 5px #2a2a49, 2px 2px 5px #1a1a2d;
    }    

}

@media  screen and (max-width: 800px){
    .nav{
       display: none;
    }
    #burger{
       display: flex;
    }
    .nav{
    flex-direction: column;
    }
    .nav ul{
        flex-direction: column; 
        width: 25%;
    }
    .nav ul li{
        text-align: center;
        padding: 15px 0;
        background: #bda39d;
    }
    .nav ul li a{
        color: #636991;
    }
    .header:hover ul li a{
        color: #636991;
    }
    .nav ul li:hover {
        background: #5a5f81;
    }
    .nav ul li:hover a{
        color: #C9ADA7;
    }
    #nav.active{
        display: flex;
        position: absolute;
        top: 100%;
        left: 75%;
    }

    .accueil img{
        box-shadow:  -20px -20px 40px #ab938e, 20px 20px 40px #e7c7c0;
    }
    
    .apropos{
        height: auto;
    }
    .text{
        margin-bottom: 40px;
    }


    .articles{
        grid-template:repeat(3,1fr) / repeat(12, 1fr);
    }
    .article1{
        grid-area: 1 / 1 / 2 / 7;
    }
    .article2{
        grid-area: 1 / 7 / 2 / 13;
    }
    .article3{
        grid-area: 2 / 1 / 3 / 7;
    }
    .article4{
        grid-area: 2 / 7 / 3 / 13;
    }
    .article5{
        grid-area: 3 / 1 / 4 / 7;
    }
    .article6{
        grid-area: 3 / 7 / 4 / 13;
    }
    .articles img{
        width: 67%;
        height: 57%;
        margin: 4%;
    }
  
    
    .langages-framework{
        grid-template:repeat(200px 5,1fr) / repeat(12, 1fr);
    }
    .competence1{
        grid-area: 2 / 1 / 3 / 7;
    }
    .competence2{
        grid-area: 2 / 7 / 3 / 13;
    }
    .competence3{
        grid-area: 3 / 1 / 4 / 7;
    }
    .competence4{
        grid-area: 3 / 7 / 4 / 13;
    }
    .competence5{
        grid-area: 4 / 1 / 5 / 7;
    }
    .competence6{
        grid-area: 4 / 7 / 5 / 13;
    }
    .competence7{
        grid-area: 5 / 1 / 6 / 7;
    }
    .competence8{
        grid-area: 5 / 7 / 6 / 13;
    }
    .competence9{
        grid-area: 6 / 4 / 7 / 10;
    }
    .outils-logiciels{
        grid-template:repeat(200px 4,1fr) / repeat(12, 1fr);
    }
    .competences1{
        grid-area: 2 / 1 / 3 / 5;
    }
    .competences2{
        grid-area: 2 / 5 / 3 / 9;
    }
    .competences3{
        grid-area: 2 / 9 / 3 / 13;
    }
    .competences4{
        grid-area: 3 / 1 / 4 / 5;
    }
    .competences5{
        grid-area: 3 / 5 / 4 / 9;
    }
    .competences6{
        grid-area: 3 / 9 / 4 / 13;
    }
    .competences7{
        grid-area: 4 / 1 / 5 / 5;
    }
    .competences8{
        grid-area: 4 / 5 / 5 / 9;
    }
    .competences9{
        grid-area: 4 / 9 / 5 / 13;
    }
    .competences10{
        grid-area: 5 / 2 / 6 / 6;
    }
    .competences11{
        grid-area: 5 / 8 / 6 / 12;
    }

    .form{
        box-shadow: -10px -10px 25px #bec1ca, 10px 10px 25px #f1f1f1;
    }
    .form:hover{
        box-shadow: -7px -7px 15px#f1f1f1, 7px 7px 15px  #bec1ca
    }

    .footer{
        height: 60px;
    }
    #link, #git{
        font-size: 1em;
        box-shadow: -3px -3px 10px #1a1a2d, 3px 3px 10px #2a2a49;
    }
    #chevron{
        font-size: 0.7em;
        box-shadow: -3px -3px 10px #1a1a2d, 3px 3px 10px #2a2a49;
    }
    .footer ul:nth-child(2n+0) li:nth-child(1n+0), .footer .cv{
        font-size: 0.5em;
        box-shadow: -3px -3px 10px #1a1a2d, 3px 3px 10px #2a2a49;
    } 
    #link:hover, #git:hover, #chevron:hover, .footer .cv:hover, .footer ul:nth-child(2n+0) li:nth-child(1n+0):hover{
        box-shadow: -2px -2px 4px #2a2a49, 2px 2px 4px #1a1a2d;
    }   
}

@media  screen and (max-width: 715px){
    .footer{
        height: 50px;
    }
    #link, #git{
        font-size: 0.8em;
        box-shadow: -2px -2px 8px #1a1a2d, 2px 2px 8px #2a2a49;
    }
    #chevron{
        font-size: 0.5em;
        box-shadow: -2px -2px 8px #1a1a2d, 2px 2px 8px #2a2a49;
    }
    .footer ul:nth-child(2n+0) li:nth-child(1n+0), .footer .cv{
        font-size: 0.35em;
        box-shadow: -2px -2px 8px #1a1a2d, 2px 2px 8px #2a2a49;
    } 
    #link:hover, #git:hover, #chevron:hover, .footer .cv:hover, .footer ul:nth-child(2n+0) li:nth-child(1n+0):hover{
        box-shadow: -1px -1px 3px #2a2a49, 1px 1px 3px #1a1a2d;
    } 
}

@media  screen and (max-width: 600px){
    .footer ul:nth-child(2n+0) li:last-child{
        display: none;
    }
}